<h1>YOUR BOOKINGS</h1>



<div class="container">
  <div class="row">
    <% @bookings.each do |booking| %>
      <div class="col-xs-12 col-sm-4">
        <!-- insert <div class="card"> -->
          <div class="card">
            <div class="card-category">
              <ul>
                <% grammy = Grandmom.find(booking.grandmom_id) %>
                <li>
                  <%= grammy.first_name %> <%= grammy.last_name %>
                </li>
                <li>
                  Booker: <%= User.find(booking.user_id).email %>
                </li>
                <li>
                  Start: <%= booking.start_time %> <br>
                </li>
                <li>
                  End: <%= booking.end_time %> <br>
                </li>
                <li>
                  <%= link_to 'Details', grandmom_booking_path(grammy, booking) %>
                </li>
              </ul>
            </div>
            <div class="card-description">

            </div>
          </div>
      </div>
    <% end %>
  </div>
</div>
