<div class="complete-page">
  <div class="status-margin">
    <% @bookings.each do |booking| %>
      <% if booking.user == current_user %>
        <div class="message">
            <% grammy = Grandmom.find(booking.grandmom_id) %>
            <div>
              <%= image_tag grammy.photo.url(:bright_face), class:'profile-image-small-square' %>
            </div>
            <div class="message-body">
              <h3><%= grammy.first_name %></h3>
              <p>Start: <%= booking.start_time %></p>
              <p>End: <%= booking.end_time %></p>
            </div>
            <div class="message-status">
              <% if booking.status == 'pending' %>
                <p class="status pending"><%= booking.status %></p>
              <% elsif booking.status == 'accepted' %>
                <p class="status accepted"><%= booking.status %></p>
              <% elsif booking.status == 'declined' %>
                <p class="status declined"><%= booking.status %></p>
              <p class="price"><%= booking.price %></p>
              <% end %>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
