<h1>Grandmoms#update</h1>
<p>Edit a existing Grandmom</p>

<%= simple_form_for @grandmom, method:'patch' do |g| %>
  <%= g.input :first_name %>
  <%= g.input :last_name %>
  <%= g.input :photo %>
  <%= g.input :photo_cache, as: :hidden %>
  <%= g.input :address %>
  <%= g.input :description, as: :text %>
  <%= g.input :price %>
  <%= g.input :cooking, as: :radio_buttons %>
  <%= g.input :childcare, as: :radio_buttons %>
  <%= g.input :storytelling, as: :radio_buttons %>
  <%= g.input :goforawalk, as: :radio_buttons %>
  <%= g.button :submit %>
<% end %>
