<h1>Grandmoms#index</h1>
<p>Here you can see all the Grandmoms existing on planet earth</p>

<p>Filter for the grandmom you are looking for!</p>

<%= link_to grandmoms_path({childcare: true}) do %>
  <i class="fas fa-child"></i>
<% end %>
<%= link_to grandmoms_path({storytelling: true}) do %>
  <i class="fas fa-book-open"></i>
<% end %>
<%= link_to grandmoms_path({goforawalk: true}) do %>
  <i class="fas fa-walking"></i>
<% end %>
<%= link_to grandmoms_path({cooking: true}) do %>
  <i class="fas fa-utensils"></i>
<% end %>

<ul>
  <% @grandmoms.each do |grandmom| %>
    <li>
      <%= link_to grandmom.last_name, grandmom_path(grandmom.id) %>
    </li>
  <% end %>
</ul>
