<h1>Find the right Grandma' for every purpose</h1>

<br>
<div class="icons">
  <%= link_to grandmoms_path({childcare: true}) do %>
    <button class="btn"><i class="fas fa-child fa-3x"></i></button>
  <% end %>
  <%= link_to grandmoms_path({storytelling: true}) do %>
    <button class="btn"><i class="fas fa-book-open fa-3x"></i></button>
  <% end %>
  <%= link_to grandmoms_path({goforawalk: true}) do %>
    <button class="btn"><i class="fas fa-walking fa-3x"></i></button>
  <% end %>
  <%= link_to grandmoms_path({cooking: true}) do %>
    <button class="btn"><i class="fas fa-utensils fa-3x"></i></button>
  <% end %>
</div>

<div class="container">
  <div class="row">
    <% @grandmoms.each do |grandmom| %>
      <div class="col-xs-12 col-sm-3">
        <div class="gcard">
          <%= image_tag grandmom.photo.url(:thumbnail) %>
          <div class="gcontainer">
            <%= link_to grandmom.first_name, grandmom_path(grandmom.id) %>
            <br>
            <br>
            <% if grandmom.childcare %>
              <i class="fas fa-child fa-3x"></i>
            <% else %>
              <i class="fas fa-times"></i>
            <% end %>
            <% if grandmom.storytelling %>
              <i class="fas fa-book-open fa-3x"></i>
            <% else %>
              <i class="fas fa-times"></i>
            <% end %>
            <% if grandmom.goforawalk %>
              <i class="fas fa-walking fa-3x"></i>
            <% else %>
              <i class="fas fa-times"></i>
            <% end %>
            <% if grandmom.cooking %>
              <i class="fas fa-utensils fa-3x"></i>
            <% else %>
              <i class="fas fa-times"></i>
            <% end %>
          </div>
        </div>
      </div>
   <% end %>
  </div>
</div>

<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
></div>

