<h1>Find the right Grandma' for every purpose</h1>

<div class="icons-container">
  <%= link_to "Childcare", grandmoms_path({childcare: true}), class: "btn-medium" %>

  <%= link_to "Storytelling", grandmoms_path({storytelling: true}), class: "btn-medium" %>

  <%= link_to "Go for a walk", grandmoms_path({goforawalk: true}), class: "btn-medium"  %>

  <%= link_to "Cooking & Baking", grandmoms_path({cooking: true}), class: "btn-medium" %>
</div>

<div class="content">
  <div class="cards-container">
    <div class="row">
      <% @grandmoms.each do |grandmom| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <%= link_to grandmom_path(grandmom) do %>
          <div class="card" style="background-image: url('<%= cl_image_path grandmom.photo.url, height: 150, width:200 %>')">
          </div>
          <% end %>
        </div>
     <% end %>
    </div>
  </div>
  <div
  id="map"
  data-markers="<%= @markers.to_json %>">
  </div>
</div>



