<h3>Find the right Grandma' for every purpose</h3>

<div class="icons-container">
  <%= link_to "Childcare", grandmoms_path({childcare: true}), class: "btn btn-primary" %>

  <%= link_to "Storytelling", grandmoms_path({storytelling: true}), class: "btn btn-primary" %>

  <%= link_to "Go for a walk", grandmoms_path({goforawalk: true}), class: "btn btn-primary"  %>

  <%= link_to "Cooking & Baking", grandmoms_path({cooking: true}), class: "btn btn-primary" %>
</div>

<div class="content">
  <div class="cards-container">
    <div class="row">
      <% @grandmoms.each do |grandmom| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <%= link_to grandmom_path(grandmom) do %>
          <div class="card" style="background-image: url('<%= cl_image_path grandmom.photo.url, height: 150, width:200 %>')">
              <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
              <a class="card-link" href="#" ></a>
          </div>
          <% end %>
        </div>
     <% end %>
    </div>
  </div>
  <div
  id="map"
  data-markers="<%= @markers.to_json %>">
  </div>
</div>
