

<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <h1>Grandmoms#new</h1>
        <p>Create a new Grandmom</p>

        <%= simple_form_for(@grandmom, method:'post') do |g| %>
          <div class="form-inline">
            <%= g.input :first_name %>
            <%= g.input :last_name %>
          </div>
          <div class="form-inline">
            <%= g.input :photo %>
            <%= g.input :photo_cache, as: :hidden %>
            <%= g.input :price %>
          </div>
          <div class="form-inline">
            <%= g.input :address, input_html: {id: 'grandmom_address' } %>
            <%= g.input :description, as: :text %>
          </div>
          <div class="form-inline">
            <%= g.input :cooking, as: :radio_buttons %>
            <%= g.input :childcare, as: :radio_buttons %>
            <%= g.input :storytelling, as: :radio_buttons %>
            <%= g.input :goforawalk, as: :radio_buttons %>
          </div>

          <%= g.button :submit %>
        <% end %>
    </div>
  </div>
</div>



