<div class="complete-page">

  <div class="main-container">

    <div class="container-left">
      <div >
        <%= image_tag @grandmom.photo.url(:bright_face), class:'profile-image-big-square' %>
      </div>

      <div>
        <div class="row-container verified-info">
          <div class="flexbox-row">
            <h3 class="box-header">Verified info</h3>
          </div>
          <div class="flexbox-row">
            <div><p>Government ID</p></div>
            <div><i class="far fa-check-circle"></i></div>
          </div>
          <div class="flexbox-row">
            <div><p>Selfie</p></div>
            <div><i class="far fa-check-circle"></i></div>
          </div>
          <div class="flexbox-row">
            <div><p>Email address</p></div>
            <div><i class="far fa-check-circle"></i></div>
          </div>
          <div class="flexbox-row">
            <div><p>Phone number</p></div>
            <div><i class="far fa-check-circle"></i></div>
          </div>
          <div class="flexbox-row"><p>Learn more »</p></div>
        </div>
      </div>
    </div>

    <div class="container-center">
      <div class="headline">
        <h2><%= @grandmom.first_name %> <%= @grandmom.last_name %></h2>
        <h5><%= @grandmom.address %></h5>
        <br>
        <p><%= @grandmom.description %></p>
        <br>
        <p><i class="fas fa-euro-sign"></i> <%= @grandmom.price %></p>
      </div>
    <!--   <div class="skills-box grid">
        <h3 class="box-header">Skills</h3>

        <ul class="box-list">
          <li class="grid-element e1-from-top"><i class="fas fa-child fa-3x"></i></li>
          <li class="grid-element e2-from-top"><i class="fas fa-book-open fa-3x"></i></li>
          <li class="grid-element e3-from-top"><i class="fas fa-walking fa-3x"></i></li>
          <li class="grid-element e4-from-top"><i class="fas fa-utensils fa-3x"></i></li>
        </ul>
      </div> -->
      <div class="skills-box">
        <div class="row-container">
          <div class="flexbox-row">
            <h3 class="box-header">Skills</h3>
          </div>
          <div class="flexbox-row">
            <div><p>Childcare</p></div>
            <div><i class="fas fa-child fa-3x"></i></div>
          </div>
          <div class="flexbox-row">
            <div><p>Storytelling</p></div>
            <div><i class="fas fa-book-open fa-3x"></i></div>
          </div>
          <div class="flexbox-row">
            <div><p>Going for a Walk</p></div>
            <div><i class="fas fa-walking fa-3x"></i></div>
          </div>
          <div class="flexbox-row">
            <div><p>Cooking</p></div>
            <div><i class="fas fa-utensils fa-3x"></i></div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-right">
      <div class="button-box">
        <%= link_to "Book", new_grandmom_booking_path(@grandmom), class: "btn btn-primary flex-element" %>
        <%= link_to "Home", grandmoms_path, class: "btn btn-primary flex-element" %>
        <% if policy(@grandmom).update? %> <%= link_to "Edit", edit_grandmom_path(@grandmom), class: "btn btn-primary flex-element" %> <% end %>
        <% if policy(@grandmom).destroy? %> <%= link_to "Delete", grandmom_path, method:'delete', class: "btn btn-primary flex-element" %> <% end %>
      </div>

      <!-- Button to Open the Modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        Book in overlay
      </button>

      <!-- The Modal -->
      <div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Select your dates</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">

              <div class="container">
                <%= simple_form_for [@grandmom, @booking] do |f| %>
                  <div class='col-md-3'>
                    <div class="form-group">
                      <div class='input-group date' id='datetimepicker6'>
                        <input type='text' class="form-control" name="booking[start_time]" />
                        <%# f.input :start_time, class: 'form-control' %>
                        <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class='col-md-3 rightside'>
                    <div class="form-group">
                      <div class='input-group date' id='datetimepicker7'>
                        <input type='text' class="form-control" name="booking[end_time]"/>
                        <%# f.input :end_time, class: 'form-control' %>
                        <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                      </div>
                    </div>
                  <%= f.submit 'Book', :class => 'book_button'  %>
                  </div>
                <% end %>
              </div>
              <script type="text/javascript">


              </script>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>

    </div>


  </div>
</div>
