<div class="complete-page">

  <div class="main-container">
    <div class="headline">
      <h2> <%= @grandmom.last_name %></h2>
      <h4>
        Name: <%= @grandmom.first_name %> <%= @grandmom.last_name %>
      </h4>
    </div>

    <div class="sub-container">
      <div>
        <%= image_tag @grandmom.photo.url(:bright_face) %> <br>
      </div>
      <div>
        <%= @grandmom.address %> <br>
        <%= @grandmom.description %> <br>
        <%= @grandmom.price %> <br>
      </div>
    </div>
    <br>
    <div class="ctas">
      <%= link_to "Book", new_grandmom_booking_path(@grandmom), class: "btn btn-primary" %>
      <%= link_to "Home", grandmoms_path, class: "btn btn-primary" %>
      <% if policy(@grandmom).update? %> <%= link_to "Edit", edit_grandmom_path(@grandmom), class: "btn btn-primary" %> <% end %>
      <% if policy(@grandmom).destroy? %> <%= link_to "Delete", grandmom_path, method:'delete', class: "btn btn-primary" %> <% end %>
    </div>

  </div>

</div>
